.userPhoto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.wrap {
    margin-left: 3%;
}

.users {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    text-align: center;
}

.user {
    margin: 20px 0px;
}

.followBtn {
    padding: 7px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: forestgreen;
    color: white;
    font-weight: bolder;
}

.unfollowBtn {
    padding: 7px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(34, 139, 34, 0.6);
    color: white;
    font-weight: bolder;
}

.userName {
    margin-bottom: 10px;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
}

.changePageBtn {
    border-radius: 15px;
    padding: 5px 10px;
    border: none;
    margin: 2px;
    background-color: lightblue;
    cursor: pointer;
}

.selected {
    font-weight: bold;
    background-color: lawngreen;
    border: #19376c 1px solid;
}

